<a href="https://colab.research.google.com/github/Vishalkinnera/Classification/blob/main/2)_CLASSIFICATION_Project_CreditCard_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
#LOAD THE DATASET

credit_card_data = pd.read_csv('/content/drive/MyDrive/Datasets/creditcard.csv')
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [ ]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

WE have transactions of around 2 days

In [ ]:
#DATASET INFORMATION

credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [ ]:
#CHECK the number of missing values in each column

credit_card_data.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
#Checking the distribution of Legit transaction and fraud transaction

credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This data is very imbalanced.
There are 2 classes and more than 99% is in one class.
Machine cant recognise the fraud transcations.
We have to handle it

0----Normal Transaction
1----Fraud

In [ ]:
#Seperating the data for analysis

legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [ ]:
#STATISTICAL MEASURES OF THE DATA

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [ ]:
fraud['Amount'].describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [ ]:
#compare the values for both transactions

credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [ ]:
#UNDER-SAMPLING

#BUILD a sample dataset containing similar distribution of normal transaction and fraud

In [ ]:
#Number of Fraud transactions = 492

In [ ]:
legit_sample = legit.sample(n=492)
legit_sample

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
86461,61245.0,1.193165,-0.045799,0.974258,0.580735,-0.935581,-0.691411,-0.399063,-0.049673,0.466057,...,-0.042780,-0.142310,0.064614,0.398857,0.141180,0.354849,-0.013122,0.028233,22.00,0
185080,126509.0,-0.480136,1.007500,0.040580,-0.602668,1.165098,-0.504241,1.355739,-0.560867,0.681510,...,0.042641,0.610585,-0.385650,0.626688,-0.141135,0.556869,-0.389851,-0.185146,10.00,0
118331,75041.0,-2.363553,1.654358,0.328276,-1.698545,-0.804518,-0.765250,0.118082,0.519006,1.575979,...,-0.373855,-0.531355,0.154110,-0.050837,0.072422,0.747202,0.607655,0.279991,22.28,0
179590,124147.0,-1.568855,-1.088280,0.547417,-2.914152,-0.036713,-0.988195,-0.413501,0.375425,-2.946303,...,0.272077,0.516084,-0.434533,-0.390413,0.975957,0.114886,-0.132458,-0.186238,68.00,0
17364,28656.0,-0.520766,-0.633463,2.020308,-1.395511,-0.957460,-0.740100,-0.720533,0.061978,-2.825482,...,-0.066238,-0.005517,-0.112483,0.496051,0.110688,-0.052199,0.072306,0.075275,15.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228234,145413.0,1.998127,0.219754,-1.703105,0.536641,0.281519,-1.399509,0.387335,-0.454561,0.380875,...,0.233160,0.862305,-0.053398,-0.038399,0.274415,-0.105714,0.004678,-0.024136,30.00,0
269937,163843.0,-0.795065,1.493501,-1.484211,-0.731496,0.426260,-0.371717,0.032159,1.018865,-0.182944,...,-0.290770,-0.994847,0.139764,-0.057521,-0.334284,0.142831,0.075139,-0.014529,9.99,0
202304,134262.0,2.007315,0.037735,-1.758592,1.183718,0.544779,-0.473888,0.325259,-0.051127,0.261306,...,0.067651,0.258555,0.057874,0.648316,0.371756,-0.534576,-0.036354,-0.070933,1.00,0
215855,140246.0,-0.612773,1.124979,0.007175,-0.158674,0.187042,-0.403200,0.373862,0.440949,-0.480083,...,-0.143492,-0.446737,0.031498,-0.412554,-0.770226,0.310751,0.127053,0.146946,5.16,0
126132,77943.0,-2.044518,-2.423834,0.328875,1.247741,-1.634980,0.413513,0.516811,0.538144,-0.248187,...,0.805667,0.942278,1.444107,0.056125,-1.331170,1.092890,-0.047209,0.000024,572.40,0

Concatenate 2 dataframes

In [ ]:
new_dataset = pd.concat([legit_sample, fraud],axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
86461,61245.0,1.193165,-0.045799,0.974258,0.580735,-0.935581,-0.691411,-0.399063,-0.049673,0.466057,...,-0.042780,-0.142310,0.064614,0.398857,0.141180,0.354849,-0.013122,0.028233,22.00,0
185080,126509.0,-0.480136,1.007500,0.040580,-0.602668,1.165098,-0.504241,1.355739,-0.560867,0.681510,...,0.042641,0.610585,-0.385650,0.626688,-0.141135,0.556869,-0.389851,-0.185146,10.00,0
118331,75041.0,-2.363553,1.654358,0.328276,-1.698545,-0.804518,-0.765250,0.118082,0.519006,1.575979,...,-0.373855,-0.531355,0.154110,-0.050837,0.072422,0.747202,0.607655,0.279991,22.28,0
179590,124147.0,-1.568855,-1.088280,0.547417,-2.914152,-0.036713,-0.988195,-0.413501,0.375425,-2.946303,...,0.272077,0.516084,-0.434533,-0.390413,0.975957,0.114886,-0.132458,-0.186238,68.00,0
17364,28656.0,-0.520766,-0.633463,2.020308,-1.395511,-0.957460,-0.740100,-0.720533,0.061978,-2.825482,...,-0.066238,-0.005517,-0.112483,0.496051,0.110688,-0.052199,0.072306,0.075275,15.00,0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [ ]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96858.262195,0.119434,-0.034074,-0.012144,0.040479,0.078472,-0.029403,-0.101570,-0.023320,-0.148705,...,0.016145,-0.005707,0.018135,-0.032547,-0.008542,-0.008397,-0.020426,0.019653,0.003808,82.026728
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Splitting the data into X and y

In [ ]:
X = new_dataset.drop(columns="Class",axis=1)
y = new_dataset['Class']

In [ ]:
X.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
86461,61245.0,1.193165,-0.045799,0.974258,0.580735,-0.935581,-0.691411,-0.399063,-0.049673,0.466057,...,-0.050246,-0.042780,-0.142310,0.064614,0.398857,0.141180,0.354849,-0.013122,0.028233,22.00
185080,126509.0,-0.480136,1.007500,0.040580,-0.602668,1.165098,-0.504241,1.355739,-0.560867,0.681510,...,0.063765,0.042641,0.610585,-0.385650,0.626688,-0.141135,0.556869,-0.389851,-0.185146,10.00
118331,75041.0,-2.363553,1.654358,0.328276,-1.698545,-0.804518,-0.765250,0.118082,0.519006,1.575979,...,0.608743,-0.373855,-0.531355,0.154110,-0.050837,0.072422,0.747202,0.607655,0.279991,22.28
179590,124147.0,-1.568855,-1.088280,0.547417,-2.914152,-0.036713,-0.988195,-0.413501,0.375425,-2.946303,...,-0.087166,0.272077,0.516084,-0.434533,-0.390413,0.975957,0.114886,-0.132458,-0.186238,68.00
17364,28656.0,-0.520766,-0.633463,2.020308,-1.395511,-0.957460,-0.740100,-0.720533,0.061978,-2.825482,...,-0.046844,-0.066238,-0.005517,-0.112483,0.496051,0.110688,-0.052199,0.072306,0.075275,15.00

In [ ]:
y

86461     0
185080    0
118331    0
179590    0
17364     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [ ]:
#SPLITING DATA INTO TRAIN AND TEST

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(984, 30) (787, 30) (197, 30)

MODEL TRAINING
Logistic Regression- used for Binary Classification Models

In [ ]:
model = LogisticRegression()

In [ ]:
#training the LogReg model with training data
model.fit(X_train,y_train)

LogisticRegression()

MOdel Evaluation  based on Accuracy Score

In [ ]:
#Accuracy on training data

X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,y_train)

In [ ]:
print('Accuracy on training data:',training_data_accuracy)

Accuracy on training data: 0.9428208386277002

In [ ]:
#ACCURACY ON TEST DATA

In [ ]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,y_test)

In [ ]:
print('Accuracy on test data:',test_data_accuracy)

Accuracy on test data: 0.9086294416243654

In [ ]:
from sklearn.metrics import f1_score

f1 = f1_score(X_test_prediction,y_test)
f1

0.9052631578947369